.clicky {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    position: relative;
}

.box {
    background-color: white;
    height:250px;
    width:250px;
    border: 1px solid black;
    margin: 200px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-display {
    margin-top: 60px;
    width: 85%;
    text-align: justify;
    margin: 35px auto;
    line-height: 1.3em;
    font-size: 1.2em;
}

.form-format {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tags-display {
    position: absolute;
    width: 100%;
    bottom: 5px;
    font-size: 1.1em;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

textarea{
    resize:none;
}

.body {
    height: 100px;
    text-align: left;
}

.modal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
    /* display:flex;
    flex-direction: column;
    justify-content: center; */
}

.r {
    background-color: #fcc5c0;
}

.y {
    background-color: #faff94;
}

.g {
    background-color: #abffe0;
}

.p {
    background-color: #eec4ff;
}

.b {
    background-color: #bcc7f7;
}