.clicky {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    position: relative;
}

.form-format {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

textarea{
    resize:none;
}

.body {
    height: 100px;
    text-align: left;
}

.modal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    background-color: white;
    height:250px;
    width:250px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}